/* add css styles here (optional) */

.LavaLampMenu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.item {
  user-select: none;
  transition: color 0.2s, background 0.2s;
}
.name {
  position: relative;
}

.selected {
  transition-delay: 0.1s;
}

.slider {
  position: absolute;
  top: 0px;
  left: 0px;
  transition: margin 0.2s, width 0.2s;
}
